<a href="/review/view/<%= review._id %>">
    <div class="reviewblock">
        <h4 class="reviewtext"><%= review.op %></h5>
        <h2 class="reviewtext"><%= review.title %></h2>
        <h5 class="reviewtext"><%= review.url %></h5>
        <p class="reviewtext"><%= review.content %></p>
    </div>
</a>